In [81]:
import numpy as np
import pandas as pd
from conct_db import enginex
from sqlalchemy.types import DATE, INTEGER
from datetime import date

In [75]:
data94 = pd.read_excel('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/VerCheckinCheckout_94.xlsx')
df_94 = pd.DataFrame(data94)
# df_chk.sample()
datatc = pd.read_excel('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/VerCheckinCheckout_TC.xlsx')
df_tc = pd.DataFrame(datatc)
# 
datakg = pd.read_excel('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/VerCheckinCheckout_KG.xlsx')
df_kg = pd.DataFrame(datakg)
# 
datafs = pd.read_excel('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/VerCheckinCheckout_FS.xlsx')
df_fs = pd.DataFrame(datafs)
# 
datatl = pd.read_excel('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/VerCheckinCheckout_TL.xlsx')
df_tl = pd.DataFrame(datatl)

In [76]:
# df_94[['Coordenadas CI', 'Coordenadas CO']] = df_94[['Coordenadas CI', 'Coordenadas CO']].astype(str)
df_94['COD_DISTRI']=369117
df_tc['COD_DISTRI']=369846
df_kg['COD_DISTRI']=328660
df_fs['COD_DISTRI']=70425
df_tl['COD_DISTRI']=445625

In [77]:
df_chk = pd.concat([df_94,df_tc,df_fs,df_kg,df_tl])

In [78]:
df_chk[['Coordenadas CI Y', 'Coordenadas CI X']] = df_chk['Coordenadas CI'].str.split(';', expand=True)
# 
df_chk[['Coordenadas CO Y', 'Coordenadas CO X']] = df_chk['Coordenadas CO'].str.split(';', expand=True)
# 
df_chk['Fecha'] = pd.to_datetime(df_chk['Fecha Checkin'])
df_chk.sample(5)

,Codigo,Cliente,Vendedor,Es Valido,Fecha Checkin,Fecha Checkout,Mot. Invalidez CI,Mot. Invalidez CO,Coordenadas CI,Coordenadas CO,COD_DISTRI,Coordenadas CI Y,Coordenadas CI X,Coordenadas CO Y,Coordenadas CO X,Fecha
2482,3366,PERIRA PATRICIA,3,SI,03/08/2022 11:30:14,03/08/2022 11:32:21,NaN,NaN,-27.0210614;-54.5563384,-27.0210631;-54.5563565,369117,-27.0210614,-54.5563384,-27.0210631,-54.5563565,2022-03-08 11:30:14
2616,6214,RODRIGUEZ ALFREDO,6,SI,04/08/2022 12:54:30,04/08/2022 12:58:37,NaN,NaN,-27.3883126;-55.9030506,-27.3881566;-55.9028712,369846,-27.3883126,-55.9030506,-27.3881566,-55.9028712,2022-04-08 12:54:30
246,13798,MARCHAK CRISTIAN EDUARDO,34,SI,01/08/2022 09:40:23,01/08/2022 09:46:19,NaN,NaN,-27.6216331;-55.3362701,-27.6218752;-55.3364497,369117,-27.6216331,-55.3362701,-27.6218752,-55.3364497,2022-01-08 09:40:23
10181,430,KRANEVITTER DANIELA,2,SI,18/08/2022 11:34:24,18/08/2022 11:37:51,NaN,NaN,-32.0714483;-60.4577267,-32.0712914;-60.4575188,445625,-32.0714483,-60.4577267,-32.0712914,-60.4575188,2022-08-18 11:34:24
5991,3479,PUCHETA BLANCA,11,SI,11/08/2022 10:13:03,11/08/2022 10:22:20,NaN,NaN,-27.449225;-55.8591667,-27.4491433;-55.85919,369846,-27.449225,-55.8591667,-27.4491433,-55.85919,2022-11-08 10:13:03

In [79]:
df_chk.rename({'Codigo': 'COD_CLIENTE'}, axis=1, inplace=True)
df_chk = df_chk[['Fecha','COD_DISTRI','COD_CLIENTE','Vendedor',	'Es Valido',	'Fecha Checkin', 'Fecha Checkout',	'Mot. Invalidez CI',	'Mot. Invalidez CO',	'Coordenadas CI Y',	'Coordenadas CI X',	'Coordenadas CO Y',	'Coordenadas CO X']]
df_chk.sample()

,Fecha,COD_DISTRI,COD_CLIENTE,Vendedor,Es Valido,Fecha Checkin,Fecha Checkout,Mot. Invalidez CI,Mot. Invalidez CO,Coordenadas CI Y,Coordenadas CI X,Coordenadas CO Y,Coordenadas CO X
5153,2022-08-08 08:43:35,369117,372,17,SI,08/08/2022 08:43:35,08/08/2022 08:52:06,NaN,NaN,-27.4628001,-54.745508,-27.4630221,-54.7456284

In [82]:
df_chk.to_sql('CoordenadasMasuno', dtype=({'Fecha':DATE, 'COD_DISTRI':INTEGER, 'COD_CLIENTE':INTEGER, 'Vendedor':INTEGER}), con=enginex, if_exists='append', index=False)

-1