In [1]:
import numpy as np
import pandas as pd
from conct_db import enginex
from sqlalchemy.types import DATE, INTEGER, VARCHAR, DATETIME
from datetime import datetime as dt
from datetime import date

Conect succesfull

In [2]:
data94 = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_TD.csv', sep=';', encoding='UTF-8')
df_94 = pd.DataFrame(data94)
# # df_chk.sample()
datatc = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_TC.csv', sep=';', encoding='UTF-8')
df_tc = pd.DataFrame(datatc)
# 
datakg = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_KG.csv', sep=';', encoding='UTF-8')
df_kg = pd.DataFrame(datakg)
# # 
datafs = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_FS.csv', sep=';', encoding='UTF-8')
df_fs = pd.DataFrame(datafs)
# # 
datatl = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_TL.csv', sep=';', encoding='UTF-8')
df_tl = pd.DataFrame(datatl)

In [3]:
df_chk = pd.concat([df_94,df_tc,df_fs,df_kg,df_tl])

In [4]:
df_chk.columns

Index(['TenantRegion', 'RegionCode', 'DistributorExternCode',
       'DistributorName', 'OrganizationExternCode', 'OrganizationCode',
       'LeaderCode', 'LeaderName', 'SupervisorCode', 'SupervisorName',
       'SellerCode', 'SellerName', 'Date', 'VisitId', 'CheckinStart',
       'CheckinEnd', 'IsVisitValid', 'VisitDuration', 'ClientCode',
       'ClientName', 'ClientFantasyName', 'ClientAddress', 'HasBuyed',
       'AtWorkingHours', 'IsInRoute', 'EmployeeType', 'IsInUniverse',
       'SurveyCampaignsTargetTags', 'SurveyCampaignsAnswersTags',
       'HasLicense'],
      dtype='object')

In [5]:
try:
    df_chk = df_chk.drop(['TenantRegion', 'RegionCode', 'DistributorName', 'OrganizationExternCode',
            'OrganizationCode', 'LeaderCode', 'LeaderName', 'SupervisorCode', 'SupervisorName',
            'SellerName', 'ClientName', 'ClientFantasyName', 
            'EmployeeType', 'IsInUniverse', 'SurveyCampaignsTargetTags',
            'SurveyCampaignsAnswersTags', 'HasLicense', 'ClientAddress'], axis=1)
except:
    pass
try:
    df_chk = df_chk.drop(['HasLicense,,'], axis=1)
except:
    pass
df_chk['IsVisitValid']= df_chk['IsVisitValid'].astype(str)
# df_chk.sample(5)

In [6]:
df_chk.columns

Index(['DistributorExternCode', 'SellerCode', 'Date', 'VisitId',
       'CheckinStart', 'CheckinEnd', 'IsVisitValid', 'VisitDuration',
       'ClientCode', 'HasBuyed', 'AtWorkingHours', 'IsInRoute'],
      dtype='object')

In [7]:
df_chk = df_chk[['DistributorExternCode', 'SellerCode', 'Date', 'VisitId',
       'CheckinStart', 'CheckinEnd', 'IsVisitValid', 'VisitDuration',
       'ClientCode', 'HasBuyed', 'AtWorkingHours', 'IsInRoute']]
# df_chk.sample(5)

In [8]:
df_chk['Date'] = pd.to_datetime(df_chk['Date'],
                                format='%d/%m/%Y %H:%M:%S'
                                )
                                # errors = 'coerce',
                                # )
# def fecha(df,columna):
#     return (df
#             .apply(lambda row: for row in columna, dt.date.strftime(row, '%d/%m/%y'))
#             )
df_chk['Date'] = df_chk['Date'].apply(lambda row: dt.strftime(row, '%Y-%m-%d'))
df_chk = df_chk.sort_values(['Date'], ascending=True)
df_chk.sample(3)

,DistributorExternCode,SellerCode,Date,VisitId,CheckinStart,CheckinEnd,IsVisitValid,VisitDuration,ClientCode,HasBuyed,AtWorkingHours,IsInRoute
110,445625,14,2022-11-01,438490213,1/11/2022 12:06:26,1/11/2022 12:10:57,True,272,632,False,True,True
283,445625,10,2022-11-01,438490051,1/11/2022 11:09:16,1/11/2022 11:12:04,True,168,194449,False,True,True
199,328660,1,2022-11-01,438447549,1/11/2022 8:42:32,1/11/2022 8:46:05,True,212,10225,False,True,True

In [9]:
# df_chk[['Coordenadas CI Y', 'Coordenadas CI X']] = df_chk['Coordenadas CI'].str.split(';', expand=True)
# # 
# df_chk[['Coordenadas CO Y', 'Coordenadas CO X']] = df_chk['Coordenadas CO'].str.split(';', expand=True)
# # 
# df_chk['Fecha'] = pd.to_datetime(df_chk['Fecha Checkin'])
# df_chk.sample(5)

In [10]:
df_chk.rename({'DistributorExternCode':'CodigoDistribuidor',
                'SellerCode':'CodigoVendedor',
                'Date':'Fecha',
                'ClientCode':'Cliente'},
                 axis=1, inplace=True)

In [11]:
# df_chk.DistributorExternCode[1]
df_chk.sample(3)

,CodigoDistribuidor,CodigoVendedor,Fecha,VisitId,CheckinStart,CheckinEnd,IsVisitValid,VisitDuration,Cliente,HasBuyed,AtWorkingHours,IsInRoute
279,369846,7,2022-11-01,438365821,1/11/2022 9:39:10,1/11/2022 9:46:42,True,452,567,False,True,True
121,445625,14,2022-11-01,438489931,1/11/2022 13:27:04,1/11/2022 13:31:21,True,257,8810,False,True,True
478,369117,9,2022-11-01,438550094,1/11/2022 10:22:42,1/11/2022 10:27:57,True,315,8741,False,True,True

In [12]:
Periodo = pd.to_datetime(df_chk['Fecha'].values[1])
Periodo = pd.to_datetime(date(Periodo.year, Periodo.month, 1))
Periodo_query = str(Periodo)[:10]
Periodo_query

'2022-11-01'

In [13]:
# text=("""DELETE FROM VisitasMasuno WHERE Fecha >= {}""".format("'"+Periodo_query+"'"))
# # ("""DELETE FROM BASE_CCC WHERE PERIODO = {} """.format("'"+periodo_query+"'"))
# enginex.execute(text)

In [14]:
# df_chk.iloc[11:12,11].values
df_chk[['IsVisitValid', 'HasBuyed', 'AtWorkingHours', 'IsInRoute']] = df_chk[['IsVisitValid', 'HasBuyed', 'AtWorkingHours', 'IsInRoute']].astype('str')

In [15]:
# df_chk.to_sql('VisitasMasuno', dtype=({'Fecha':DATE, 'CodigoDistribuidor':INTEGER, 'IsVisitValid':VARCHAR, 'Cliente':INTEGER, 'CodigoVendedor':INTEGER}), con=enginex, if_exists='append', index=False)

In [16]:
# text = """SELECT [CodigoDistribuidor]
#       ,[CodigoVendedor]
#       ,[Fecha]
#       ,[VisitId]
#       ,[CheckinStart]
#       ,[CheckinEnd]
#       ,[IsVisitValid]
#       ,[VisitDuration]
#       ,[Cliente]
#       ,[HasBuyed]
#       ,[AtWorkingHours]
#       ,[IsInRoute]
#   FROM [DW_Central].[dbo].[VisitasMasuno]
#   ;"""
# rg = pd.read_sql(text, enginex)
# rg.sample(5)

In [17]:
# rg.to_csv('./resguardo_VisitasMauno.csv')

In [18]:
def run():
        try:
                df_chk.to_sql('VisitasMasuno', dtype=({'CodigoDistribuidor':INTEGER,'CodigoVendedor': INTEGER, 'Fecha':DATE, 
                                'VisitId':INTEGER, 'CheckinStart':DATETIME, 'CheckinEnd':DATETIME,
                                'IsVisitValid':VARCHAR,'VisitDuration':INTEGER, 'Cliente':INTEGER, 'HasBuyed':VARCHAR, 
                                'AtWorkingHours':VARCHAR, 'IsInRoute':VARCHAR }), con=enginex, if_exists='append', index=False)
                print('Carga Exitosa ' + dt.now().strftime('%A, %d of %B %Y a las %I:%M:%S'))
        except Exception as ex:
                print("Error al cargar los datos " + ex)

text=("""DELETE FROM VisitasMasuno WHERE Fecha >= {}""".format("'"+Periodo_query+"'"))

enginex.execute(text)
run()

Carga Exitosa Wednesday, 02 of November 2022 a las 10:38:15