In [101]:
import numpy as np
import pandas as pd
from conct_db import enginex
from sqlalchemy.types import DATE, INTEGER
import datetime
from datetime import date

In [137]:
data94 = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_TD.csv', sep=';', encoding='UTF-8')
df_94 = pd.DataFrame(data94)
# # df_chk.sample()
datatc = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_TC.csv', sep=';', encoding='UTF-8')
df_tc = pd.DataFrame(datatc)
# 
datakg = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_KG.csv', sep=';', encoding='UTF-8')
df_kg = pd.DataFrame(datakg)
# # 
datafs = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_FS.csv', sep=';', encoding='UTF-8')
df_fs = pd.DataFrame(datafs)
# # 
datatl = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_TL.csv', sep=';', encoding='UTF-8')
df_tl = pd.DataFrame(datatl)

In [153]:
df_chk = pd.concat([df_94,df_tc,df_fs,df_kg,df_tl])

In [154]:
df_chk.head(3)

,TenantRegion,RegionCode,DistributorExternCode,DistributorName,OrganizationExternCode,OrganizationCode,LeaderCode,LeaderName,SupervisorCode,SupervisorName,...,ClientFantasyName,ClientAddress,HasBuyed,AtWorkingHours,IsInRoute,EmployeeType,IsInUniverse,SurveyCampaignsTargetTags,SurveyCampaignsAnswersTags,HasLicense
0,941-distribuidores nea,941-distribuidores nea,369117,1994 SRL,1,1994srl,100,AQUINO GUSTAVO,102,HAHN MAURO,...,PIÑERO ZULEMA,RIO COLORADO 565,False,True,True,VE Conjunta,True,NaN,NaN,False
1,941-distribuidores nea,941-distribuidores nea,369117,1994 SRL,1,1994srl,100,AQUINO GUSTAVO,102,HAHN MAURO,...,GARRIDO ENRIQUE CARLOS,LAVALLE 2077,False,True,True,VE Conjunta,True,NaN,NaN,False
2,941-distribuidores nea,941-distribuidores nea,369117,1994 SRL,1,1994srl,100,AQUINO GUSTAVO,102,HAHN MAURO,...,GARRIDO ENRIQUE CARLOS,LAVALLE 2077,False,True,True,VE Conjunta,True,NaN,NaN,False

In [155]:
df_chk = df_chk.drop(['TenantRegion', 'RegionCode', 'DistributorName', 'OrganizationExternCode',
         'OrganizationCode', 'LeaderCode', 'LeaderName', 'SupervisorCode', 'SupervisorName',
         'SellerName', 'ClientName', 'ClientFantasyName', 
         'EmployeeType', 'IsInUniverse', 'SurveyCampaignsTargetTags',
         'SurveyCampaignsAnswersTags', 'HasLicense', 'ClientAddress'], axis=1)
df_chk.sample(5)

,DistributorExternCode,SellerCode,Date,VisitId,CheckinStart,CheckinEnd,IsVisitValid,VisitDuration,ClientCode,HasBuyed,AtWorkingHours,IsInRoute
2294,369117,30,4/10/2022 0:00:00,411449780,4/10/2022 12:41:29,4/10/2022 12:43:53,True,144,8967,False,True,True
3253,445625,17,6/10/2022 0:00:00,414190144,6/10/2022 12:29:04,6/10/2022 13:02:05,True,1981,11081,False,True,True
2764,445625,10,5/10/2022 0:00:00,412890290,5/10/2022 11:33:31,5/10/2022 11:44:08,True,637,11954,False,True,True
4037,445625,20,6/10/2022 0:00:00,414190060,6/10/2022 10:46:06,6/10/2022 10:48:21,False,135,11855,False,True,False
7801,445625,11,15/10/2022 0:00:00,421603586,15/10/2022 8:33:22,15/10/2022 8:33:26,True,4,1821,False,True,True

In [159]:
df_chk['Date'] = pd.to_datetime(df_chk['Date'],
                                # format='%D/%M/%YYY'
                                )
                                # errors = 'coerce',
                                # )
df_chk['Date'].apply(lambda row: datetime.strptime(row, '%d/%m/%y'))
# df_chk = df_chk.sort_values(['Date'], ascending=True)
df_chk.sample(3)

AttributeError: module 'datetime' has no attribute 'strptime'

In [ ]:
# df_chk[['Coordenadas CI Y', 'Coordenadas CI X']] = df_chk['Coordenadas CI'].str.split(';', expand=True)
# # 
# df_chk[['Coordenadas CO Y', 'Coordenadas CO X']] = df_chk['Coordenadas CO'].str.split(';', expand=True)
# # 
# df_chk['Fecha'] = pd.to_datetime(df_chk['Fecha Checkin'])
# df_chk.sample(5)

In [119]:
df_chk.rename({'DistributorExternCode':'CodigoDistribuidor',
                'SellerCode':'CodigoVendedor',
                'Date':'Fecha',
                'ClientCode':'Cliente'},
                 axis=1, inplace=True)

In [121]:
# df_chk.DistributorExternCode[1]
df_chk.sample(3)

,CodigoDistribuidor,CodigoVendedor,Fecha,VisitId,CheckinStart,CheckinEnd,IsVisitValid,VisitDuration,Cliente,HasBuyed,AtWorkingHours,IsInRoute
1244,369846,13,2022-03-10,409714894,3/10/2022 12:41:20,3/10/2022 12:50:05,True,525,7453,False,True,True
3446,369117,31,2022-05-10,412948227,5/10/2022 8:49:52,5/10/2022 8:50:26,True,34,14840,False,True,True
1667,369846,5,2022-04-10,411406790,4/10/2022 13:15:20,4/10/2022 13:16:19,True,59,1125,False,True,True

In [125]:
Periodo = pd.to_datetime(df_chk['Fecha'].values[1])
Periodo = pd.to_datetime(date(Periodo.year, Periodo.month, 1))
Periodo_query = str(Periodo)[:10]
Periodo_query

'2022-01-01'

In [82]:
df_chk.to_sql('VisitasMasuno', dtype=({'Fecha':DATE, 'CodigoDistribuidor':INTEGER, 'Cliente':INTEGER, 'CodigoVendedor':INTEGER}), con=enginex, if_exists='append', index=False)

-1