In [288]:
import numpy as np
import pandas as pd
from conct_db import enginex
from sqlalchemy.types import DATE, INTEGER, VARCHAR
from datetime import datetime as dt
from datetime import date

In [289]:
data94 = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_TD.csv', sep=';', encoding='UTF-8')
df_94 = pd.DataFrame(data94)
# # df_chk.sample()
datatc = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_TC.csv', sep=';', encoding='UTF-8')
df_tc = pd.DataFrame(datatc)
# 
datakg = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_KG.csv', sep=';', encoding='UTF-8')
df_kg = pd.DataFrame(datakg)
# # 
datafs = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_FS.csv', sep=';', encoding='UTF-8')
df_fs = pd.DataFrame(datafs)
# # 
datatl = pd.read_csv('y:/07-MONITOREO/01-Ventas/01-MASUNO/Bases/data_TL.csv', sep=';', encoding='UTF-8')
df_tl = pd.DataFrame(datatl)

In [293]:
df_chk = pd.concat([df_94,df_tc,df_fs,df_kg,df_tl])

In [294]:
df_chk.head(3)

,TenantRegion,RegionCode,DistributorExternCode,DistributorName,OrganizationExternCode,OrganizationCode,LeaderCode,LeaderName,SupervisorCode,SupervisorName,...,ClientAddress,HasBuyed,AtWorkingHours,IsInRoute,EmployeeType,IsInUniverse,SurveyCampaignsTargetTags,SurveyCampaignsAnswersTags,HasLicense,"HasLicense,,"
0,941-distribuidores nea,941-distribuidores nea,369117,1994 SRL,1,1994srl,100,AQUINO GUSTAVO,102,HAHN MAURO,...,RIO COLORADO 565,False,True,True,VE Conjunta,True,NaN,NaN,False,NaN
1,941-distribuidores nea,941-distribuidores nea,369117,1994 SRL,1,1994srl,100,AQUINO GUSTAVO,102,HAHN MAURO,...,LAVALLE 2077,False,True,True,VE Conjunta,True,NaN,NaN,False,NaN
2,941-distribuidores nea,941-distribuidores nea,369117,1994 SRL,1,1994srl,100,AQUINO GUSTAVO,102,HAHN MAURO,...,LAVALLE 2077,False,True,True,VE Conjunta,True,NaN,NaN,False,NaN

In [295]:
df_chk.columns

Index(['TenantRegion', 'RegionCode', 'DistributorExternCode',
       'DistributorName', 'OrganizationExternCode', 'OrganizationCode',
       'LeaderCode', 'LeaderName', 'SupervisorCode', 'SupervisorName',
       'SellerCode', 'SellerName', 'Date', 'VisitId', 'CheckinStart',
       'CheckinEnd', 'IsVisitValid', 'VisitDuration', 'ClientCode',
       'ClientName', 'ClientFantasyName', 'ClientAddress', 'HasBuyed',
       'AtWorkingHours', 'IsInRoute', 'EmployeeType', 'IsInUniverse',
       'SurveyCampaignsTargetTags', 'SurveyCampaignsAnswersTags', 'HasLicense',
       'HasLicense,,'],
      dtype='object')

In [296]:
try:
    df_chk = df_chk.drop(['TenantRegion', 'RegionCode', 'DistributorName', 'OrganizationExternCode',
            'OrganizationCode', 'LeaderCode', 'LeaderName', 'SupervisorCode', 'SupervisorName',
            'SellerName', 'ClientName', 'ClientFantasyName', 
            'EmployeeType', 'IsInUniverse', 'SurveyCampaignsTargetTags',
            'SurveyCampaignsAnswersTags', 'HasLicense', 'ClientAddress'], axis=1)
except:
    pass
try:
    df_chk = df_chk.drop(['HasLicense,,'], axis=1)
except:
    pass
df_chk['IsVisitValid']= df_chk['IsVisitValid'].astype(str)
df_chk.sample(5)

,DistributorExternCode,SellerCode,Date,VisitId,CheckinStart,CheckinEnd,IsVisitValid,VisitDuration,ClientCode,HasBuyed,AtWorkingHours,IsInRoute
647,369117,3,1/10/2022 0:00:00,407570699,1/10/2022 11:59:25,1/10/2022 11:59:35,True,10,10186,False,True,True
7056,445625,1,13/10/2022 0:00:00,420192909,13/10/2022 14:02:40,13/10/2022 14:02:46,True,6,12338,False,True,True
4009,369117,21,5/10/2022 0:00:00,412947520,5/10/2022 9:24:05,5/10/2022 9:24:26,True,21,1077,False,True,False
7422,369117,18,12/10/2022 0:00:00,418761350,12/10/2022 9:53:11,12/10/2022 9:53:27,True,16,14838,False,True,True
1062,328660,7,11/10/2022 0:00:00,417308268,11/10/2022 9:57:17,11/10/2022 10:05:07,True,470,173,False,True,True

In [297]:
df_chk['Date'] = pd.to_datetime(df_chk['Date'],
                                format='%d/%m/%Y %H:%M:%S'
                                )
                                # errors = 'coerce',
                                # )
# def fecha(df,columna):
#     return (df
#             .apply(lambda row: for row in columna, dt.date.strftime(row, '%d/%m/%y'))
#             )
df_chk['Date'] = df_chk['Date'].apply(lambda row: dt.strftime(row, '%Y-%m-%d'))
df_chk = df_chk.sort_values(['Date'], ascending=True)
df_chk.sample(3)

,DistributorExternCode,SellerCode,Date,VisitId,CheckinStart,CheckinEnd,IsVisitValid,VisitDuration,ClientCode,HasBuyed,AtWorkingHours,IsInRoute
4478,445625,8,2022-10-07,415021944,7/10/2022 9:01:13,7/10/2022 9:03:48,True,155,245,False,True,True
1350,70425,1,2022-10-13,420286894,13/10/2022 12:02:22,13/10/2022 12:02:53,True,31,344,False,True,True
7474,369117,21,2022-10-12,418761258,12/10/2022 8:45:24,12/10/2022 8:45:27,True,3,5286,False,True,True

In [298]:
# df_chk[['Coordenadas CI Y', 'Coordenadas CI X']] = df_chk['Coordenadas CI'].str.split(';', expand=True)
# # 
# df_chk[['Coordenadas CO Y', 'Coordenadas CO X']] = df_chk['Coordenadas CO'].str.split(';', expand=True)
# # 
# df_chk['Fecha'] = pd.to_datetime(df_chk['Fecha Checkin'])
# df_chk.sample(5)

In [299]:
df_chk.rename({'DistributorExternCode':'CodigoDistribuidor',
                'SellerCode':'CodigoVendedor',
                'Date':'Fecha',
                'ClientCode':'Cliente'},
                 axis=1, inplace=True)

In [300]:
# df_chk.DistributorExternCode[1]
df_chk.sample(3)

,CodigoDistribuidor,CodigoVendedor,Fecha,VisitId,CheckinStart,CheckinEnd,IsVisitValid,VisitDuration,Cliente,HasBuyed,AtWorkingHours,IsInRoute
1117,328660,3,2022-10-11,417308335,11/10/2022 9:41:02,11/10/2022 9:48:35,True,453,5262,False,True,True
4999,369117,39,2022-10-08,415050792,8/10/2022 12:43:08,8/10/2022 12:43:19,True,11,13299,False,True,True
6186,369846,1,2022-10-15,421621421,15/10/2022 13:04:40,15/10/2022 13:16:02,True,682,5402,False,True,True

In [302]:
Periodo = pd.to_datetime(df_chk['Fecha'].values[1])
Periodo = pd.to_datetime(date(Periodo.year, Periodo.month, 1))
Periodo_query = str(Periodo)[:10]
Periodo_query

'2022-10-01'

In [285]:
text=("""DELETE FROM VisitasMasuno WHERE Fecha >= {}""".format("'"+Periodo_query+"'"))
# ("""DELETE FROM BASE_CCC WHERE PERIODO = {} """.format("'"+periodo_query+"'"))
enginex.execute(text)

In [286]:
df_chk.to_sql('VisitasMasuno', dtype=({'Fecha':DATE, 'CodigoDistribuidor':INTEGER, 'IsVisitValid':VARCHAR, 'Cliente':INTEGER, 'CodigoVendedor':INTEGER}), con=enginex, if_exists='append', index=False)

-1