In [31]:
import pandas as pd
import numpy as np
from conct_db import enginex
from os import getcwd
import pyodbc
from sqlalchemy.types import INTEGER
from sqlalchemy.types import DATE

In [3]:
msa_drivers = [x for x in pyodbc.drivers() if 'ACCESS' in x.upper()]
print(f'MS-Access Drivers : {msa_drivers}')

MS-Access Drivers : ['Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [4]:
try:
    con_string = r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=./BASE DE CCC.accdb;'
    conn = pyodbc.connect(con_string)
    print("Connected To Database")
 
 
except pyodbc.Error as e:
    print("Error in Connection", e)

Connected To Database

In [5]:

con_string = r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};' \
                r'DBQ=./BASE DE CCC.accdb;'

conn2 = pyodbc.connect(con_string)

In [6]:
df = pd.read_sql("""SELECT * FROM `BASE CCC`""", con=conn2)

c:\Users\Usuario\Portafolio\venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [22]:
df.isna()

         COD DISTRI  COD PDV  ARTICULO  PERIODO    CCC
0             False    False     False    False  False
1             False    False     False    False  False
2             False    False     False    False  False
3             False    False     False    False  False
4             False    False     False    False  False
...             ...      ...       ...      ...    ...
5748452       False    False     False    False  False
5748453       False    False     False    False  False
5748454       False    False     False    False  False
5748455       False    False     False    False  False
5748456       False    False     False    False  False

[5748457 rows x 5 columns]

In [48]:
# import  sys
# !{sys.executable} -m pip install pyodbc
DRIVER_NAME = "Microsoft Access Driver (*.mdb, *.accdb)"
# Ruta completa del archivo.
DB_PATH = getcwd() + "/BASE CCC.accdb"
# Establecer la conexión.
conn = pyodbc.connect("Driver={%s};DBQ={};" % (DRIVER_NAME).format(DB_PATH))

Error: ('HY000', "[HY000] [Microsoft][Controlador ODBC Microsoft Access]Error general No se puede abrir la clave 'Temporary (volatile) Ace DSN for process 0x38c0 Thread 0x9780 DBC 0x8c7d00b8                                                              Jet' del Registro. (63) (SQLDriverConnect); [HY000] [Microsoft][Controlador ODBC Microsoft Access]Error general No se puede abrir la clave 'Temporary (volatile) Ace DSN for process 0x38c0 Thread 0x9780 DBC 0x8c7d00b8                                                              Jet' del Registro. (63); [HY000] [Microsoft][Controlador ODBC Microsoft Access] No es un nombre de archivo válido. (-1044); [HY000] [Microsoft][Controlador ODBC Microsoft Access]Error general No se puede abrir la clave 'Temporary (volatile) Ace DSN for process 0x38c0 Thread 0x9780 DBC 0x8c7d00b8                                                              Jet' del Registro. (63); [HY000] [Microsoft][Controlador ODBC Microsoft Access]Error general No se puede abrir la clave 'Temporary (volatile) Ace DSN for process 0x38c0 Thread 0x9780 DBC 0x8c7d00b8                                                              Jet' del Registro. (63); [HY000] [Microsoft][Controlador ODBC Microsoft Access] No es un nombre de archivo válido. (-1044)")

In [51]:
conn = pyodbc.connect("Driver={'Microsoft Access Driver (*.mdb, *.accdb)'};DBQ=./BASE DE CCC1.accdb")

InterfaceError: ('IM002', '[IM002] [Microsoft][Administrador de controladores ODBC] No se encuentra el nombre del origen de datos y no se especificó ningún controlador predeterminado (0) (SQLDriverConnect)')

In [53]:
cursor = conn.cursor()
cursor.execute('select * from ')

ProgrammingError: ('42000', '[42000] [Microsoft][Controlador ODBC Microsoft Access] Error de sintaxis en la cláusula FROM. (-3506) (SQLExecDirectW)')

In [43]:
df = pd.read_xml('./BASE CCC.xml')
df

XMLSyntaxError: xmlSAX2StartElementNs, line 21667538, column 18 (<string>, line 21667538)

In [30]:
df[['COD _DISTRI', 'COD PDV', 'ARTICULO', 'CCC']] = df[['COD DISTRI','COD PDV', 'ARTICULO','CCC']].astype(float)
df[['COD _DISTRI', 'COD PDV', 'ARTICULO', 'CCC']] = df[['COD DISTRI','COD PDV', 'ARTICULO','CCC']].astype('Int64')
df.sample(3)

         COD DISTRI  COD PDV  ARTICULO    PERIODO  CCC  COD _DISTRI
4477841    369117.0     7584      7478 2021-09-01    1       369117
3320743    369846.0     5280      7038 2020-09-01    1       369846
5577434    445625.0    13620     24596 2022-06-01    1       445625

In [33]:
df.to_sql('BASE_CCC', if_exists='append', con=enginex, index=False, dtype={'COD DISTRI':INTEGER, 'COD PDV':INTEGER, 'ARTICULO':INTEGER,	'PERIODO':DATE,	'CCC':INTEGER})

-1