In [40]:
import pandas as pd
import numpy as np
from sqlalchemy import INTEGER
from conct_db import enginex
from datetime import datetime, date
from sqlalchemy.types import DATE, INTEGER

In [41]:
base_ccc = pd.read_excel('y:/02-VENTAS/14-Base de Ventas Grupo Total/2016/02-Avance/BASE CCC MES ACT.xlsx')
df_ccc = pd.DataFrame(base_ccc)
# df_ccc[1:1].values
if  df_ccc.iloc[0:0, 3].size <= 0:
    base_ccc = pd.read_excel('y:/02-VENTAS/14-Base de Ventas Grupo Total/2016/02-Avance/BASE CCC MES ACT.xlsx', header=1)
    df_ccc = pd.DataFrame(base_ccc)
    
else:
    pass
if df_ccc.iloc[-1:, 3].values == 1:
    df_ccc.drop(df_ccc[-1:].index, axis=0, inplace=True)
else:
    pass
df_ccc.tail(3)

,Código Distribuidor,Código Cliente,Código Producto,Fecha,Año,Mes,Clientes con Compra Totales
98719,445625,987645.0,25686.0,2022-07-31 00:00:00,2022.0,Julio,1.0
98720,445625,999111.0,14638.0,2022-07-31 00:00:00,2022.0,Julio,1.0
98721,445625,999111.0,19339.0,2022-07-31 00:00:00,2022.0,Julio,1.0

In [42]:
df_ccc.iloc[0:0, 3].size
df_ccc.iloc[-1:, 3].values

array([datetime.datetime(2022, 7, 31, 0, 0)], dtype=object)

In [14]:
# from operator import index


# if df_ccc.iloc[-1:, 3].values == 1:
#     df_ccc.drop(df_ccc[-1:].index, axis=0, inplace=True)
# else:
#     pass
# df_ccc.head(3)

In [15]:
# base_ccc = pd.read_excel('y:/02-VENTAS/14-Base de Ventas Grupo Total/2016/02-Avance/01-Cierres Avance/2022/07.-Julio/BASE CCC MES ACT.xlsx', skipfooter=1)
# base_ccc = pd.read_excel('y:/02-VENTAS/14-Base de Ventas Grupo Total/2016/02-Avance/BASE CCC MES ACT.xlsx', skipfooter=1)
# df_ccc = pd.DataFrame(base_ccc)
# df_ccc.sample(3)

In [43]:
df_ccc.rename({'Código Distribuidor':'COD DISTRI', 'Código Cliente': 'COD PDV', 'Código Producto': 'ARTICULO', 'Clientes con Compra Totales': 'CCC'}, axis=1, inplace=True)
df_ccc.sample(3)

      COD DISTRI   COD PDV  ARTICULO                Fecha     Año    Mes  CCC
59697     369846    4239.0   20471.0  2022-07-31 00:00:00  2022.0  Julio  1.0
5945       70425     245.0   20433.0  2022-07-31 00:00:00  2022.0  Julio  1.0
91632     445625  104761.0   19338.0  2022-07-31 00:00:00  2022.0  Julio  1.0

In [44]:
# fecha = datetime.today()
# periodo = pd.to_datetime(date(fecha.year, fecha.month, 1))
# periodo
fecha_real = pd.to_datetime(df_ccc['Fecha'].values[1])
periodo_real = pd.to_datetime(date(fecha_real.year, fecha_real.month, 1))
periodo_real

Timestamp('2022-07-01 00:00:00')

In [45]:
df_ccc['PERIODO'] = periodo_real
df_ccc.drop(['Fecha', 'Año', 'Mes'], axis=1, inplace=True)
df_ccc = df_ccc[['COD DISTRI', 'COD PDV', 'ARTICULO', 'PERIODO', 'CCC']]
periodo_query = str(periodo_real)[:10]
df_ccc.tail(3)
# periodo_query

      COD DISTRI   COD PDV  ARTICULO    PERIODO  CCC
98719     445625  987645.0   25686.0 2022-07-01  1.0
98720     445625  999111.0   14638.0 2022-07-01  1.0
98721     445625  999111.0   19339.0 2022-07-01  1.0

In [19]:
# periodo_real
# text=("""SELECT * FROM BASE_CCC WHERE PERIODO = {} """.format("'"+periodo_query+"'"))
# # enginex.execute(text)
# muestreo = pd.DataFrame(enginex.execute(text))
# muestreo

In [20]:
def run():
    try:
        df_ccc.to_sql('BASE_CCC', if_exists='append', con=enginex, index=False, dtype={'COD DISTRI':INTEGER, 'COD PDV':INTEGER, 'ARTICULO':INTEGER,	'PERIODO':DATE,	'CCC':INTEGER})
        print('Carga Exitosa')
    except Exception as ex:
        print('OH RALLOS Y CENTELLAS A OCURRIDO UN ERROR ESPANTOSO' + '\n' + ex)
text=("""DELETE FROM BASE_CCC WHERE PERIODO = {} """.format("'"+periodo_query+"'"))
enginex.execute(text)
run()

Carga Exitosa