In [213]:
import pandas as pd
import numpy as np
from sqlalchemy import INTEGER
from conct_db import enginex
from datetime import datetime, date
from sqlalchemy.types import DATE, INTEGER

In [214]:
from cmath import nan

from numpy import NaN


base_ccc = pd.read_excel('y:/02-VENTAS/14-Base de Ventas Grupo Total/2016/02-Avance/BASE CCC MES ACT.xlsx')
df_ccc = pd.DataFrame(base_ccc)
# df_ccc[1:1].values
if  df_ccc.iloc[0:, 3].size <= 0:
    base_ccc = pd.read_excel('y:/02-VENTAS/14-Base de Ventas Grupo Total/2016/02-Avance/BASE CCC MES ACT.xlsx', header=1)
    df_ccc = pd.DataFrame(base_ccc)
    
else:
    pass
if df_ccc.iloc[-1:, 3].values == 1:
    df_ccc.drop(df_ccc[-1:].index, axis=0, inplace=True)
else:
    pass
df_ccc.tail(3)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8612\376284485.py:15: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  if df_ccc.iloc[-1:, 3].values == 1:

,Código Distribuidor,Código Cliente,Código Producto,Fecha,Año,Mes,Clientes con Compra Totales
32618,445625,959999,19019,2022-08-31,2022,Agosto,1
32619,445625,999111,7030,2022-08-31,2022,Agosto,1
32620,445625,999111,19089,2022-08-31,2022,Agosto,1

In [215]:
# from operator import index


# if df_ccc.iloc[-1:, 3].values == 1:
#     df_ccc.drop(df_ccc[-1:].index, axis=0, inplace=True)
# else:
#     pass

In [216]:
# df_ccc

In [217]:
# base_ccc = pd.read_excel('y:/02-VENTAS/14-Base de Ventas Grupo Total/2016/02-Avance/01-Cierres Avance/2022/07.-Julio/BASE CCC MES ACT.xlsx', skipfooter=1)
# base_ccc = pd.read_excel('y:/02-VENTAS/14-Base de Ventas Grupo Total/2016/02-Avance/BASE CCC MES ACT.xlsx', skipfooter=1)
# df_ccc = pd.DataFrame(base_ccc)
# df_ccc.sample(3)

In [218]:
df_ccc.rename({'Código Distribuidor':'COD DISTRI', 'Código Cliente': 'COD PDV', 'Código Producto': 'ARTICULO', 'Clientes con Compra Totales': 'CCC'}, axis=1, inplace=True)
df_ccc.sample(3)

       COD DISTRI  COD PDV  ARTICULO      Fecha   Año     Mes  CCC
29971      445625    12261      7634 2022-08-31  2022  Agosto    1
26767      445625   121296     11418 2022-08-31  2022  Agosto    1
9931       328660     1312     21971 2022-08-31  2022  Agosto    1

In [219]:
# fecha = datetime.today()
# periodo = pd.to_datetime(date(fecha.year, fecha.month, 1))
# periodo
fecha_real = pd.to_datetime(df_ccc['Fecha'].values[1])
periodo_real = pd.to_datetime(date(fecha_real.year, fecha_real.month, 1))
periodo_real

Timestamp('2022-08-01 00:00:00')

In [220]:
df_ccc['PERIODO'] = periodo_real
df_ccc.drop(['Fecha', 'Año', 'Mes'], axis=1, inplace=True)
df_ccc = df_ccc[['COD DISTRI', 'COD PDV', 'ARTICULO', 'PERIODO', 'CCC']]
periodo_query = str(periodo_real)[:10]
df_ccc.tail(3)
# periodo_query

       COD DISTRI  COD PDV  ARTICULO    PERIODO  CCC
32618      445625   959999     19019 2022-08-01    1
32619      445625   999111      7030 2022-08-01    1
32620      445625   999111     19089 2022-08-01    1

In [221]:
# periodo_real
# text=("""SELECT * FROM BASE_CCC WHERE PERIODO = {} """.format("'"+periodo_query+"'"))
# # enginex.execute(text)
# muestreo = pd.DataFrame(enginex.execute(text))
# muestreo

In [222]:
def run():
    try:
        df_ccc.to_sql('BASE_CCC', if_exists='append', con=enginex, index=False, dtype={'COD DISTRI':INTEGER, 'COD PDV':INTEGER, 'ARTICULO':INTEGER,	'PERIODO':DATE,	'CCC':INTEGER})
        print('Carga Exitosa')
    except Exception as ex:
        print('OH RALLOS Y CENTELLAS A OCURRIDO UN ERROR ESPANTOSO' + '\n' + ex)
text=("""DELETE FROM BASE_CCC WHERE PERIODO = {} """.format("'"+periodo_query+"'"))
enginex.execute(text)
run()

Carga Exitosa