In [111]:
import pandas as pd
import numpy as np
from sqlalchemy import INTEGER
from conct_db import enginex
from datetime import datetime, date
from sqlalchemy.types import DATE, INTEGER

In [ ]:
# base_ccc = pd.read_excel('y:/02-VENTAS/14-Base de Ventas Grupo Total/2016/02-Avance/01-Cierres Avance/2022/07.-Julio/BASE CCC MES ACT.xlsx', skipfooter=1)
base_ccc = pd.read_excel('y:/02-VENTAS/14-Base de Ventas Grupo Total/2016/02-Avance/BASE CCC MES ACT.xlsx', skipfooter=1)
df_ccc = pd.DataFrame(base_ccc)
df_ccc.sample(3)

In [ ]:
df_ccc.rename({'C칩digo Distribuidor':'COD DISTRI', 'C칩digo Cliente': 'COD PDV', 'C칩digo Producto': 'ARTICULO', 'Clientes con Compra Totales': 'CCC'}, axis=1, inplace=True)
df_ccc.sample(3)

In [129]:
# fecha = datetime.today()
# periodo = pd.to_datetime(date(fecha.year, fecha.month, 1))
# periodo
fecha_real = pd.to_datetime(df_ccc['Fecha'].values[1])
periodo_real = pd.to_datetime(date(fecha_real.year, fecha_real.month, 1))
periodo_real

Timestamp('2022-08-01 00:00:00')

In [130]:
df_ccc['PERIODO'] = periodo_real
df_ccc.drop(['Fecha', 'A침o', 'Mes'], axis=1, inplace=True)
df_ccc = df_ccc[['COD DISTRI', 'COD PDV', 'ARTICULO', 'PERIODO', 'CCC']]
periodo_query = str(periodo_real)[:10]
df_ccc.sample(3)
# periodo_query

      COD DISTRI  COD PDV  ARTICULO    PERIODO  CCC
7818      369117    11006     24880 2022-08-01    1
5684      369117     6840     21849 2022-08-01    1
6576      369117     9656     25120 2022-08-01    1

In [132]:
# periodo_real
# text=("""SELECT * FROM BASE_CCC WHERE PERIODO = {} """.format("'"+periodo_query+"'"))
# # enginex.execute(text)
# muestreo = pd.DataFrame(enginex.execute(text))
# muestreo

In [133]:
def run():
    try:
        df_ccc.to_sql('BASE_CCC', if_exists='append', con=enginex, index=False, dtype={'COD DISTRI':INTEGER, 'COD PDV':INTEGER, 'ARTICULO':INTEGER,	'PERIODO':DATE,	'CCC':INTEGER})
        print('Carga Exitosa')
    except Exception as ex:
        print('OH RALLOS Y CENTELLAS A OCURRIDO UN ERROR ESPANTOSO' + '\n' + ex)
text=("""DELETE FROM BASE_CCC WHERE PERIODO = {} """.format("'"+periodo_query+"'"))
enginex.execute(text)
run()

Carga Exitosa