In [351]:
import pandas as pd
import numpy as np
import urllib
import sqlalchemy as sa
import calendar, datetime
from datetime import date

In [352]:
periodo = datetime.datetime.now()
mes = periodo.month

In [359]:
df1 = pd.read_excel('y:/19-POWER BI/01-Total Bebidas/TACO GQ/Desafios Mayo.xlsb', skipfooter=3)
df1 = df1[(df1['Distribuidor'] != 'Total') & (df1['ACCOUNT_ID'] != 'Total')]
df1['Periodo'] = pd.to_datetime(date(periodo.year,mes-1,1))
df1['COD_CLIENTE'] = df1.ACCOUNT_ID.str.extract('(0{2,}\d+)')
df1['COD_CLIENTE'] = df1['COD_CLIENTE'].astype('Int64')
df1.drop(['Cartera','ACCOUNT_ID', 'Distribuidor'], axis=1, inplace=True)

df1.head(15)

,Código Distribuidor,Visualizaron,Aceptaron,%Aceptaron,Completaron,%Completaron,Periodo,COD_CLIENTE
2,445625,1,1,1.0,0,0.0,2022-05-01,4
3,445625,0,0,0.0,0,0.0,2022-05-01,12
4,445625,1,1,1.0,1,1.0,2022-05-01,18
5,445625,1,1,1.0,0,0.0,2022-05-01,19
6,445625,0,0,0.0,0,0.0,2022-05-01,20
7,445625,0,0,0.0,0,0.0,2022-05-01,21
8,445625,0,0,0.0,0,0.0,2022-05-01,22
9,445625,1,1,1.0,0,0.0,2022-05-01,25
10,445625,1,1,1.0,1,1.0,2022-05-01,26
11,445625,1,1,1.0,1,1.0,2022-05-01,27
12,445625,0,0,0.0,0,0.0,2022-05-01,29
13,445625,1,1,1.0,0,0.0,2022-05-01,30
14,445625,0,0,0.0,0,0.0,2022-05-01,31
15,445625,0,0,0.0,0,0.0,2022-05-01,32
16,445625,0,0,0.0,0,0.0,2022-05-01,34

El siguiente codigo extrae los ultimos numeros despues del agregado de ceros intermedio. falta pulirlo  
    
    df1['COD_CLIENTE'] = df1.ACCOUNT_ID.str.extract('(0{2,}\d+)')
    
    df1['COD_CLIENTE'] = df1.COD_CLIENTE.str.extract('([^0{,}]\d+(?:.\d+)?)') 

Para extraer numeros de un texto/numero utilizar la expresion regular 
    
    ('(\d+(?:\.\d+)?)')

In [360]:
# df1[pd.isna(df1['Código Distribuidor'])].head
df1.to_excel('y:/19-POWER BI/01-Total Bebidas/TACO GQ/Desafios Mayo_procesado.xlsx', index=False)

In [361]:
parameters = urllib.parse.quote_plus("DRIVER={SQL Server Native Client 11.0};"
                                     "Server=WIN-SERVIDOR-BD\DWGRUPOTOTAL;"
                                     "DATABASE=DW_Central;"
                                     "UID=sa;"
                                     "PWD=DWpln21")
def conct():
        try:
                engine = sa.create_engine("mssql+pyodbc:///?odbc_connect={}".format(parameters))
                print("Conect succesfull")
        except Exception:
                print("Errora in DataBase conection")
        try:
                df1.to_sql('Desafios_BEES', con=engine, index=False, if_exists='append')
                print("Carga exitosa")
        except Exception:
                print("Error al cargar los datos")
conct()

Conect succesfull
Carga exitosa