In [24]:
import pandas as pd
import numpy as np
from conct_db import enginex
from os import getcwd
import pyodbc
from sqlalchemy.types import INTEGER
from sqlalchemy.types import DATE

In [25]:
msa_drivers = [x for x in pyodbc.drivers() if 'ACCESS' in x.upper()]
print(f'MS-Access Drivers : {msa_drivers}')

MS-Access Drivers : ['Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [26]:
try:
    con_string = r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=./BASE DE CCC.accdb;'
    conn = pyodbc.connect(con_string)
    print("Connected To Database")
 
 
except pyodbc.Error as e:
    print("Error in Connection", e)

Connected To Database

In [27]:

con_string = r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};' \
                r'DBQ=./BASE DE CCC.accdb;'

conn2 = pyodbc.connect(con_string)

In [28]:
df = pd.read_sql("""SELECT * FROM `BASE CCC`""", con=conn2)

c:\Users\Usuario\Portafolio\venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [29]:
df.isna()

         COD DISTRI  COD PDV  ARTICULO  PERIODO    CCC
0             False    False     False    False  False
1             False    False     False    False  False
2             False    False     False    False  False
3             False    False     False    False  False
4             False    False     False    False  False
...             ...      ...       ...      ...    ...
5748452       False    False     False    False  False
5748453       False    False     False    False  False
5748454       False    False     False    False  False
5748455       False    False     False    False  False
5748456       False    False     False    False  False

[5748457 rows x 5 columns]

In [30]:
# import  sys
# !{sys.executable} -m pip install pyodbc
"""DRIVER_NAME = "Microsoft Access Driver (*.mdb, *.accdb)"
# Ruta completa del archivo.
DB_PATH = getcwd() + "/BASE CCC.accdb"
# Establecer la conexión.
conn = pyodbc.connect("Driver={%s};DBQ={};" % (DRIVER_NAME).format(DB_PATH))"""

'DRIVER_NAME = "Microsoft Access Driver (*.mdb, *.accdb)"\n# Ruta completa del archivo.\nDB_PATH = getcwd() + "/BASE CCC.accdb"\n# Establecer la conexión.\nconn = pyodbc.connect("Driver={%s};DBQ={};" % (DRIVER_NAME).format(DB_PATH))'

In [31]:
# conn = pyodbc.connect("Driver={'Microsoft Access Driver (*.mdb, *.accdb)'};DBQ=./BASE DE CCC1.accdb")

In [32]:
# cursor = conn.cursor()
# cursor.execute('select * from ')

In [33]:
# df = pd.read_xml('./BASE CCC.xml')
# df

In [34]:
df[['COD DISTRI', 'COD PDV', 'ARTICULO', 'CCC']] = df[['COD DISTRI','COD PDV', 'ARTICULO','CCC']].astype(float)
df[['COD DISTRI', 'COD PDV', 'ARTICULO', 'CCC']] = df[['COD DISTRI','COD PDV', 'ARTICULO','CCC']].astype('Int64')
df.tail(3)

         COD DISTRI  COD PDV  ARTICULO    PERIODO  CCC
5748454       70425     1027     19019 2022-05-01    1
5748455       70425     1029     21967 2022-05-01    1
5748456       70425     1036     22991 2022-05-01    1

In [35]:
df.to_sql('BASE_CCC', if_exists='replace', con=enginex, index=False, dtype={'COD DISTRI':INTEGER, 'COD PDV':INTEGER, 'ARTICULO':INTEGER,	'PERIODO':DATE,	'CCC':INTEGER})

-1